Repository smallrye/smallrye-mutiny, pull requests merged in 2022-05, with the labels that each got.

#906 Update shortcuts.adoc to show the parenthesis of the uni.eventually shortcut
  documentation/src/main/jekyll/guides/shortcuts.adoc
Labels: documentation

#907 Add a link to the public API / Javadocs
  documentation/src/main/jekyll/_includes/header-navigation.html
Labels: documentation

#908 Allow to set timeout in UniCreate.future
  implementation/src/main/java/io/smallrye/mutiny/groups/UniCreate.java
  implementation/src/main/java/io/smallrye/mutiny/operators/uni/builders/UniCreateFromFuture.java
  implementation/src/test/java/io/smallrye/mutiny/operators/UniCreateFromFutureTest.java
Labels: enhancement

#924 Upgrade to smallrye-common-annotation 1.12.0 with correct module info
  implementation/src/main/java/io/smallrye/mutiny/infrastructure/Infrastructure.java
  implementation/src/main/module/module-info.java
  pom.xml
Labels: dependencies

#930 CI configuration for 2.0 / 1.x branches
  .github/workflows/build-1.x.yml
  .github/workflows/build-main.yml
  .github/workflows/build-pull.yml
  .github/workflows/post-release.yml
Labels: ci/cd/build

#932 Disable website deployment on 0.x / 1.x tags
  .github/workflows/deploy-site.yml
Labels: ci/cd/build
