Repository smallrye/smallrye-mutiny, pull requests merged in 2023-08, with the labels that each got.

#1341 Fix concat map request race condition which resulted in flaky test
  implementation/src/main/java/io/smallrye/mutiny/operators/multi/MultiConcatMapOp.java
  implementation/src/test/java/io/smallrye/mutiny/operators/multi/MultiConcatMapNoPrefetchTest.java
Labels: bug

#1348 Updating dependencies for the MkDocs-built website
  documentation/Pipfile.lock
Labels: documentation, dependencies

#1349 Revamped release workflow
  .build/bump-to-next-version.sh
  .build/bump-to-release-version.sh
  .build/clear-revapi-justifications.sh
  .build/cut-release.sh
  .build/deploy-release.sh
  .build/install-mkdocs-deps.sh
  .build/release-with-jreleaser.sh
  .build/setup-git.sh
  .build/setup-jbang.sh
  .github/release.yml
  .github/workflows/build-main.yml
  .github/workflows/build-pull.yml
  .github/workflows/deploy-release.yml
  .github/workflows/deploy-site.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  bom/pom.xml
  pom.xml
Labels: ci/cd/build
